<% unless current_user.is_a? GuestUser %>
  <%= simple_form_for([@post, @post.comments.build]) do |f| %>


  <div class="form-group">
    <%= f.text_field :name, class: 'form-control hidden', value: current_user_name %>
  </div>

  <div class="form-group">
    <%= f.label :Comment %>
    <%= f.text_area :commentText, class: 'form-control' %>
  </div>



  <%= f.button :submit, 'Leave a reply', class: "button is-primary" %>
  <% end %>
<% end %>
