<% title "Edit Metadata |" %>

<div id="page-content-wrapper">
  <div class="container-fluid">

    <h1 class ="display-4 mb-5">Edit Photo Metadata: <%= @myPhotography.myPhotoTitle %></h1>

    <%= form_for(:my_photo, :url => {:controller => 'my_photos', :action => 'update', :id => @myPhotography.id}) do |field| %>

      <div class="form-group row mb-4 justify-content-center">
        <label for="longitude" class="col-sm-4 col-md-2 col-form-label align-self-center">Longitude: </label>
        <div class="col-sm-6 col-md-4">
          <%= field.text_field(:longitude, :class => "form-control align-self-center", value: @myPhotography.longitude) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="long_ref" class="col-sm-4 col-md-2 col-form-label align-self-center">Longitude Reference: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.select :longitude_reference, ['W','E'], :selected => @myPhotography.longitude_reference %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="latitude" class="col-sm-4 col-md-2 col-form-label align-self-center">Latitude: </label>
        <div class="col-sm-6 col-md-4">
          <%= field.text_field(:latitude, :class => "form-control align-self-center", value: @myPhotography.latitude) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="lat_ref" class="col-sm-4 col-md-2 col-form-label align-self-center">Latitude Reference: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.select :latitude_reference, ['N','S'], :selected => @myPhotography.latitude_reference  %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="myPhotoAperture" class="col-sm-4 col-md-2 col-form-label align-self-center">Aperture: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.text_field(:myPhotoAperture, :class => "form-control", value: @myPhotography.myPhotoAperture) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="myPhotoShutterSpeed" class="col-sm-4 col-md-2 col-form-label align-self-center">Shutter Speed: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.text_field(:myPhotoShutterSpeed, :class => "form-control", value: @myPhotography.myPhotoShutterSpeed) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="myPhotoISO" class="col-sm-4 col-md-2 col-form-label align-self-center">ISO: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.text_field(:myPhotoISO, :class => "form-control", value: @myPhotography.myPhotoISO) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="camera_make" class="col-sm-4 col-md-2 col-form-label align-self-center">Camera Make: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.text_field(:camera_make, :class => "form-control", value: @myPhotography.camera_make) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="camera_model" class="col-sm-4 col-md-2 col-form-label align-self-center">Camera Model: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <%= field.text_field(:camera_model, :class => "form-control", value: @myPhotography.camera_model) %>
        </div>
      </div>

      <div class="form-group row mb-4 justify-content-center">
        <label for="original_date_time" class="col-sm-4 col-md-2 col-form-label align-self-center">Original Date & Time: </label>
        <div class="col-sm-6 col-md-4 align-self-center">
          <div class="input-group date" id='datetimepicker1'>
            <%= field.text_field(:original_date_time, :class => "form-control", value: @myPhotography.original_date_time) %>
            <span class="input-group-addon custom-input-group"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        </div>
      </div>

      <div class="d-flex row justify-content-center">
        <div class="col-sm-10 col-md-3 col-lg-2 mb-2 align-self-center">
          <%= link_to("Back", :back, :class => "btn btn-lg btn-info pull-right ml-2 btn-block") %>
        </div>
        <div class="col-sm-10 col-md-3 col-lg-2 mb-2 align-self-center">
            <%= link_to 'Reset Metadata', {:controller => 'my_photos', :action => 'reset_metadata', :id => params[:id]}, :class => 'btn btn-lg btn-warning pull-right ml-2 btn-block' %>
        </div>
        <div class="col-sm-10 col-md-3 col-lg-2 mb-2 align-self-center">
          <%= submit_tag("Update", :class => "btn btn-lg btn-success pull-right ml-2 btn-block") %>
        </div>
      </div>

  </div>

    <% end %>

</div>

<!-- Close Administration nav -->
</div>


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>
