<% title "Gallery Summary |" %>

<div id="page-content-wrapper">
  <div class="container-fluid">

    <div class="row">
        <div class="col col-md-10 mb-5">
          <h1>You are in the <span class="label label-info"><%= @galleryid.gallerytitle %></span> gallery | <span class="label label-info"><%= @myPhotography.size %></span> photographs</h1>
        </div>
    </div>
    <div class="row">
      <div class="col col-sm-3 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-primary btn-lg btn-block" id="menu-toggle">
          Toggle Menu
        </button>
      </div>
      <div class="col2 col-sm-3 col-md-4 col-lg-2 mb-2">
        <%= link_to("Back", {:controller => "photo_galleries", :action => 'admin_gallery_index'}, :class => "btn btn-warning btn-lg btn-block") %>
      </div>
      <div class="col col-sm-3 col-md-4 col-lg-2 mb-2">
        <%= link_to("Add new Photo", {:action => 'new', :id => @galleryid}, :class => "btn btn-success btn-lg btn-block") %>
      </div>
    </div>


  <div class="table-responsive">
    <table class="table table-bordered table-striped mt-3 admin-table">
      <thead>
        <tr>
          <th scope="col" class="align-middle text-center table-header-text w-15">Thumbnail</th>
          <th scope="col" class="align-middle text-center table-header-text w-5">Position</th>
          <th scope="col" class="align-middle text-center table-header-text w-20">Title</th>
          <th scope="col" class="align-middle text-center table-header-text w-10">Published ?</th>
          <th scope="col" class="align-middle text-center table-header-text w-10">GPS data?</th>
          <th scope="col" class="align-middle text-center table-header-text w-10">On Map ?</th>
          <th scope="col" class="align-middle text-center table-header-text w-10">Created</th>
          <th scope="col" class="align-middle text-center table-header-text w-20">Actions</th>
        </tr>
      </thead>

      <% @myPhotography.each do |p| %>
      <tr>
        <td class="text-center h3 align-middle">
          <%= image_tag(p.myPhotograph.variant(resize_to_fill: [150,100])) if p.myPhotograph.attached? %>
        </td>
        <td class="text-center h3 align-middle"><%= p.myPhotoPosition %></td>
        <td class="text-center h3 align-middle"><%= p.myPhotoTitle %></td>
        <td class="text-center h3 align-middle"><%= iconStatus(p.myPhotoVisibility) %></td>
        <td class="text-center h3 align-middle"><%= iconStatus(has_gps_data(p.latitude)) %></td>
        <td class="text-center h3 align-middle"><%= iconStatus(p.show_on_map) %></td>
        <td class="text-center h3 align-middle"><%= p.created_at.time.strftime("%d/%m/%Y") %></td>
        <td class="span4 align-middle text-center btn-group-vertical d-block">
          <%= link_to("Details", {:controller => 'my_photos', :action => 'show', :id => p.id}, :class => "btn btn-success btn-small m-1") %>
          <%= link_to("Edit", {:action => "edit", :id => p.id}, :class => "btn btn-warning btn-small m-1") %>
          <%= link_to("Delete", {:action => "delete", :id => p.id}, :class => "btn btn-danger btn-small m-1") %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

  </div>
</div>

<!-- Close Administration nav -->
</div>
