<% title "Image Summary |" %>


  <div class="page-container" data-turbolinks="false">
    <div class="content-container">
      <div class="file-card">
        <div class="file-card-header">
          <h3><%= @myPhotography.myPhotoTitle %></h3>
        </div>
        <div class="file-card-image-preview">
          <%= image_tag(@myPhotography.myPhotograph.variant(resize_to_limit: [200, 200]), :class => "image_preview") %>
        </div>

        <div class="file-card-details-table">
          <table class="table table-striped">
            <tbody>
              <tr>
                <td>Published</td>
                <td><%= @myPhotography.myPhotoVisibility %></td>
              </tr>
              <tr>
                <td>Photo position</td>
                <td><%= @myPhotography.myPhotoPosition %></td>
              </tr>
              <tr>
                <td>Location</td>
                <td><i class="fa fa-map-marker"> <%= @myPhotography.myPhotoLocation %></td>
              </tr>
              <tr>
                <td>Showed on Map</td>
                <td><%= iconStatus(@myPhotography.show_on_map) %></td>
              </tr>
              <tr>
                <td>Aperture</td>
                <td><%= @myPhotography.myPhotoAperture %></td>
              </tr>
              <tr>
                <td>Shutter Speed</td>
                <td><%= @myPhotography.myPhotoShutterSpeed %></td>
              </tr>
              <tr>
                <td>ISO</td>
                <td><%= @myPhotography.myPhotoISO%></td>
              </tr>
              <tr>
                <td>Longitude</td>
                <td><%= @myPhotography.longitude %></td>
              </tr>
              <tr>
                <td>Longitude Reference</td>
                <td><%= @myPhotography.longitude_reference %></td>
              </tr>
              <tr>
                <td>Latitude</td>
                <td><%= @myPhotography.latitude %></td>
              </tr>
              <tr>
                <td>Latitude Reference</td>
                <td><%= @myPhotography.latitude_reference %></td>
              </tr>
              <tr>
                <td>Camera Make</td>
                <td><%= @myPhotography.camera_make %></td>
              </tr>
              <tr>
                <td>Camera Model</td>
                <td><%= @myPhotography.camera_model %></td>
              </tr>
              <tr>
                <td>Original Date & Time</td>
                <td><%= @myPhotography.original_date_time %></td>
              </tr>
            </tbody>
          </table>
          <div class="file-card-buttons">
            <div>
              <%= link_to("Delete", {:controller => 'my_photos', :action => 'delete', :id => @myPhotography.id}, :class => "btn btn-danger btn-block") %>
            </div>
            <div>
              <%= link_to("Edit", {:controller => 'my_photos', :action => 'edit', :id => @myPhotography.id}, :class => "btn btn-warning btn-block") %>        
            </div>
            <div>
              <%= link_to("OK", {:controller => 'my_photos', :action => 'index', :id => @myPhotography.photo_gallery_id}, :class => "btn btn-success btn-block") %>
            </div>
          </div>



        </div>


      </div>

    </div>



  </div>
