<div class = "card-body">
  <div class="form-group row">
    <label for="first_name" class="col-sm-2 col-form-label">User First Name: </label>
    <div class="col-sm-10">
      <%= field.text_field(:first_name, :class => "form-control", :placeholder => "Name goes here...") %>
    </div>
  </div>

  <div class="form-group row">
    <label for="last_name" class="col-sm-2 col-form-label">User Surname: </label>
    <div class="col-sm-10">
      <%= field.text_field(:last_name, :class => "form-control", :placeholder => "Surname goes here...") %>
    </div>
  </div>

  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-10">
      <%= field.text_field(:email, :class => "form-control", :placeholder => "Email goes here...") %>
    </div>
  </div>


  <div class="form-group row">
    <label for="roles" class="col-sm-2 col-form-label">Role(s): </label>
    <div class="col-sm-10">
      <%= field.select(:roles, options_for_select([['site_admin','site_admin'],['editor','editor'],['user','user']], selected: @user.roles.first))%>
    </div>
  </div>


  <div class="form-group row">
    <div class="col col-md-3">
      <%= link_to("Change Password", {:action => 'change_password', :id => params[:id]}, :class => "btn btn-danger btn-lg btn-block") %>
    </div>
  </div>
