<% title "Edit User details"%>

<div class="container">
  <div class="card mt-5 cardShadow">
    <div class="card-header bg-light">
      <h1>Edit User: <%= @user.User_FirstName + @user.User_Surname %> details</h1>
    </div>

    <%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |field| %>
    <%= render(:partial => "form", :locals => {:field => field}) %>


    <div class="form-group d-flex row bg-dark mx-auto mt-5 p-3 w-100 justify-content-end">
      <%= link_to("Back", :back, :class => "btn btn-lg btn-info pull-right ml-2") %>
      <%= submit_tag("Update", :class => "btn btn-lg btn-success pull-right ml-2") %>
    </div>

  </div>

<% end %>

</div>
</div>
