<% title "Users" %>

<div class="admin-post-panel-container">

  <div class="admin-users-panel-grid-set">
    <div class="page-title-header">
      <h1>Users <sup><span class="label label-info"><%= @user.size %></span></sup></h1>
    </div>

    <div class="button-section">
      <%= link_to("Back", {:controller => "administrators", :action => 'index'}, :class => "btn btn-warning btn-lg custom") %>
      <%= link_to("Add new User", {:action => 'new'}, :class => "btn btn-success btn-lg custom") %>

    </div>

    <div class="table-section">
      <div class="table table-hover">
            <table class="table table-bordered mt-3 admin-table">
              <thead>
                <tr>
                  <th class="align-middle text-center table-header-text w-10">Name</th>
                  <th class="align-middle text-center table-header-text w-10">Surname</th>
                  <th class="align-middle text-center table-header-text w-15">Role</th>
                  <th class="align-middle text-center table-header-text w-15">Email</th>
                  <th class="align-middle text-center table-header-text w-10">Subscription</th>
                  <th class="align-middle text-center table-header-text w-10 hidden-xs">Last Logged In</th>
                  <th class="align-middle text-center table-header-text w-10 hidden-xs">Joined</th>
                  <th class="align-middle text-center table-header-text w-20">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @user.each do |u| %>
                <tr>
                  <td class="align-middle text-center"><%= u.first_name %></td>
                  <td class="align-middle text-center"><%= u.last_name %></td>
                  <td class="align-middle text-center"><%= u.roles %></td>
                  <td class="align-middle text-center"><%= u.email %></td>
                  <td class="align-middle text-center icon-size"><%= iconStatus(u.subscription) %></td>
                  <td class="align-middle text-center"><%= u.last_sign_in_at %></td>
                  <td class="align-middle text-center"><%= local_time(u.created_at, '%d %b, %Y %H:%M') %></td>
                  <td class="align-middle text-center btn-group-vertical d-block">
                    <%= link_to("Show", {:action => 'show', :id => u.id}, :class => "btn btn-success btn-small m-1") %>
                    <%= link_to("Edit", {:action => "edit", :id => u.id}, :class => "btn btn-warning btn-small m-1") %>
                    <%= link_to("Delete", {:action => "delete", :id => u.id}, :class => "btn btn-danger btn-small m-1") %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
      </div>
    </div>

    <div class="pagination-section">
      <div class="col-sm-12 col-md-12 d-flex justify-content-center">
        <%= will_paginate @user, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
      </div>
    </div>

  </div>

</div>


<!-- Close Administration nav -->
</div>
