<div class="hamburger-menu-wrap">
  <input type="checkbox" class="toggler">
  <div class="hamburger"><div></div></div>
  <div class="hamburger-nav-logo">
    SlawekPhotography
  </div>
  <div class="menu" data-turbolinks="false">
    <div>
      <div>
        <ul>
          <li class="<%= 'active' if params[:controller] == 'public' && params[:action] == 'index' %>"><%= link_to("Home", {:controller => 'public', :action => 'index'}) %></li>
          <li class="<%= 'active' if params[:controller] == 'posts' && params[:action] == 'index' %>"><%= link_to("Posts", {:controller => 'posts', :action => 'index'}) %></li>
          <li class="<%= 'active' if params[:controller] == 'photo_galleries' && params[:action] == 'index' %>"><%= link_to("Galleries", {:controller => 'photo_galleries', :action => 'index'}) %></li>
          <li class="<%= 'active' if params[:controller] == 'my_photos' && params[:action] == 'photomap' %>"><%= link_to("Photomap", {:controller => 'my_photos', :action => 'photomap'}) %></li>
          <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>"><%= link_to("About", {:controller => 'static_pages', :action => 'about'}) %></li>
          <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'portfolio' %>"><%= link_to("Portfolio", {:controller => 'static_pages', :action => 'portfolio'}) %></li>
          <%= login_helper %>
        </ul>
      </div>
    </div>
  </div>
</div>

<nav class="main-nav">
  <div class="nav-container">
    <div class="main-nav-logo">
      SlawekPhotography
    </div>


    <div class="nav-menu" data-turbolinks="false">
      <ul>
        <li class="<%= 'active' if params[:controller] == 'public' && params[:action] == 'index' %>"><%= link_to("Home", {:controller => 'public', :action => 'index'}) %></li>
        <li class="<%= 'active' if params[:controller] == 'posts' && params[:action] == 'index' %>"><%= link_to("Posts", {:controller => 'posts', :action => 'index'}) %></li>
        <li class="<%= 'active' if params[:controller] == 'photo_galleries' && params[:action] == 'index' %>"><%= link_to("Galleries", {:controller => 'photo_galleries', :action => 'index'}) %></li>
        <li class="<%= 'active' if params[:controller] == 'my_photos' && params[:action] == 'photomap' %>"><%= link_to("Photomap", {:controller => 'my_photos', :action => 'photomap'}) %></li>
        <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>"><%= link_to("About", {:controller => 'static_pages', :action => 'about'}) %></li>
        <li class="<%= 'active' if params[:controller] == 'static_pages' && params[:action] == 'portfolio' %>"><%= link_to("Portfolio", {:controller => 'static_pages', :action => 'portfolio'}) %></li>
        <%= login_helper %>
      </ul>

    </div>


  </div>



</nav>
