<footer class="footer-distributed">

  <div class="footer-left">

    <p class="footer-other-platforms">
      <span>Please visit me on other platforms </span>
    </p>

    <div class="footer-icons">
      <a href="http://www.facebook.com/slawekphotography"><i class="fab fa-facebook-square"></i></a>
      <a href="http://500px.com/sawekmalczewski"><i class="fab fa-500px"></i></a>
      <a href="http://linkedin.com/in/slawomir-malczewski-8798048b"><i class="fab fa-linkedin"></i></a>
      <a href="http://github.com/slawekmalczewski"><i class="fab fa-github"></i></a>
    </div>


  </div>


  <div class="footer-right">

    <p class="footer-links">
      <%= link_to("Home", root_path) %>
      路
      <%= link_to("Posts", {:controller => 'posts', :action => 'index'}) %>
      路
      <%= link_to("Galleries", {:controller => 'photo_galleries', :action => 'index'}) %>
      路
      <%= link_to("About", {:controller => 'static_pages', :action => 'about'}) %>
      路
      <%= link_to("Contact", {:controller => 'static_pages', :action => 'about'}) %>
    </p>

    <p class="text-center text-muted small">
      <%= copyright_generator('Slawomir Malczewski','All rights reserved') %>
    </p>

  </div>

</footer>
