<div class="container-fluid">
  <% if !flash[:attachmentNotice].blank? %>
    <div class="alert alert-success display-4 mt-3 mb-3 text-dark" style="text-align: center;">
      <%= flash[:attachmentNotice] %>
    </div>
  <% end %>

  <br/>
  <h1>Attachments for the post: <span><%= @attachments.Post_Title %></span> post</h1>
  <br/>
  <br/>
  <%= link_to("Back", :back, :class => "btn btn-warning btn-lg") %>

    <table class="table table-bordered table-striped mt-3">
      <thead>
        <tr>
          <th class="span1 align-middle text-center h5">File Name</th>
          <th class="span1 align-middle text-center h5">Size [MB]</th>
          <th class="span4 align-middle text-center h5">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @attachments.uploads.each do |attachedfile| %>
          <tr>
            <td class="span1 align-middle text-center"><%= attachedfile.filename %></td>
            <td class="span1 align-middle text-center"><%= converttomb(attachedfile.byte_size) %></td>
            <td class="span4 align-middle text-center btn-group-vertical d-block">
              <%= link_to("View", attachedfile, :class => "btn btn-info btn-small m-1") %>
              <%= link_to("Delete", {:controller => "post_attachments", :action => "delete", :id => attachedfile.id}, :class => "btn btn-success btn-danger m-1") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
