<div class="admin-panel-container">
	<div class="admin-panel-grid-set">

		<section class="administration-menu bg-light border-right">
		  <!-- Sidebar -->
		  <div class="bg-light border-right" data-turbolinks="false">
		    <div class="administration-menu-heading"><%= link_to("Administration Panel", {:controller => 'administrators', :action => 'index'}) %></div>
		    <div class="list-group list-group-flush">
		      <%= link_to("Manage Posts", {:controller => 'posts', :action => 'admin_post_index', :id => 'show'}, :class => "list-group-item list-group-item-action bg-light") %>
		      <%= link_to("Manage Galleries", {:controller => 'photo_galleries', :action => 'admin_gallery_index'}, :class => "list-group-item list-group-item-action bg-light") %>
		      <%= link_to("Manage Categories", {:controller => 'post_categories', :action => 'index'}, :class => "list-group-item list-group-item-action bg-light") %>
		      <%= link_to("Manage Users", {:controller => 'users', :action => 'index'}, :class => "list-group-item list-group-item-action bg-light") %>
					<%= link_to("Manage Artworks", {:controller => 'artworks', :action => 'index', :additional_param => 'display_all'}, :class => "list-group-item list-group-item-action bg-light") %>
					<%= link_to("Manage Artwork Galleries", {:controller => 'artwork_galleries', :action => 'index'}, :class => "list-group-item list-group-item-action bg-light") %>
					<%= link_to("Manage Skills", {:controller => 'skills', :action => 'index'}, :class => "list-group-item list-group-item-action bg-light") %>
		    </div>
		  </div>
		  <!-- /#sidebar-wrapper -->
		</section>


		<div class="welcome-header">
			<div class="welcome-header-content">
				<h5>Welcome back <%= current_user.first_name %></h5>
				<p class="small">Last Visited: <%= current_user.last_sign_in_at %></p>
			</div>
		</div>

		<div class="circles-info">
			<div class="circle-buttons">
				<button type="button" class="btn-success btn-circle"><%= number_of_posts %>
				<br/><p>Posts</p>
				</button>
				<button type="button" class="btn-warning btn-circle"><%= number_of_galleries %>
				<br/><p>Galleries</p>
				</button>
				<button type="button" class="btn-primary btn-circle"><%= number_of_photographs %>
				<br/><p>Photos</p>
				</button>
				<button type="button" class="btn-info btn-circle"><%= number_of_users %>
				<br/><p>Users</p>
				</button>
			</div>
		</div>

		<div class="draft-card">
				<div class="draft-card-header">
					<h4>Latest Draft | <span><%= latest_draft_updated_at %></span></h4>
				</div>
				<div class="draft-card-container">
					<%= latest_draft %>
				</div>
				<div class="draft-card-container-button">
					<%= latest_draft_link_button %>
				</div>
		</div>

		<div class="post-summary">
			<div class="summary-card">
				<div class="summary-card-header">
					Post Summary
				</div>
				<div class="summary-card-body">
					<table class="table table-striped table-card-summary">
						<thead>
							<tr>
								<th scope="col">Total Number</th>
								<th scope="col"><%= number_of_posts %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Published</th>
								<th scope="col"><%= number_of_published_posts %></th>
							</tr>
							<tr>
								<th scope="col">Not Published</th>
								<th scope="col"><%= number_of_unpublished_posts %></th>
							</tr>
							<tr>
								<th scope="col">Most Recent</th>
								<th scope="col"><%= most_recent_post_title %></th>
							</tr>
							<tr>
								<th scope="col">Creation Date</th>
								<th scope="col"><%= most_recent_post_date %></th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="summary-card-footer">
					<%= link_to("Show Latest", {:controller => 'posts', :action => 'show', :id => latest_post_link_button}, class: "btn btn-success btn-sm") %>
					<%= link_to("Edit Latest", {:controller => 'posts', :action => 'edit', :id => latest_post_link_button}, class: "btn btn-warning btn-sm") %>
				</div>
			</div>
		</div>


		<div class="gallery-summary">
			<div class="summary-card">
				<div class="summary-card-header">
					Gallery Summary
				</div>
				<div class="summary-card-body">
					<table class="table table-striped table-card-summary">
						<thead>
							<tr>
								<th scope="col">Total Number</th>
								<th scope="col"><%= number_of_galleries %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Published</th>
								<th scope="col"><%= number_of_published_galleries %></th>
							</tr>
							<tr>
								<th scope="col">Not Published</th>
								<th scope="col"><%= number_of_unpublished_galleries %></th>
							</tr>
							<tr>
								<th scope="col">Most Recent</th>
								<th scope="col"><%= most_recent_gallery_title %></th>
							</tr>
							<tr>
								<th scope="col">Creation Date</th>
								<th scope="col"><%= most_recent_gallery_date %></th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="summary-card-footer">
					<%= link_to("Show Latest", {:controller => 'photo_galleries', :action => 'show', :id => latest_gallery_link_button}, class: "btn btn-success btn-sm") %>
					<%= link_to("Edit Latest", {:controller => 'photo_galleries', :action => 'edit', :id => latest_gallery_link_button}, class: "btn btn-warning btn-sm") %>
				</div>
			</div>
		</div>


		<div class="photo-summary">
			<div class="summary-card">
				<div class="summary-card-header">
					Photo Summary
				</div>
				<div class="summary-card-body">
					<table class="table table-striped table-card-summary">
						<thead>
							<tr>
								<th scope="col">Total Number</th>
								<th scope="col"><%= number_of_photographs %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="col">Published</th>
								<th scope="col"><%= number_of_published_photographs %></th>
							</tr>
							<tr>
								<th scope="col">Not Published</th>
								<th scope="col"><%= number_of_unpublished_photographs %></th>
							</tr>
							<tr>
								<th scope="col">Most Recent</th>
								<th scope="col"><%= most_recent_photograph_title %></th>
							</tr>
							<tr>
								<th scope="col">Creation Date</th>
								<th scope="col"><%= most_recent_photograph_date %></th>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="summary-card-footer">
					<%= link_to("Show Latest", {:controller => 'my_photos', :action => 'show', :id => latest_photo_link_button}, class: "btn btn-success btn-sm") %>
					<%= link_to("Edit Latest", {:controller => 'my_photos', :action => 'edit', :id => latest_photo_link_button}, class: "btn btn-warning btn-sm") %>
				</div>
			</div>
		</div>


	</div>
</div>
