<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 vertical-center d-flex align-items-center justify-content-center">
			<div class="page-header">
				<h1>
					Welcome back <%= current_user.first_name %>
				</h1>
				<button class="btn btn-primary btn-lg btn-block" id="menu-toggle">
					Toggle Menu
				</button>
			</div>
		</div>
		<div class="col-md-6 vertical-center d-flex align-items-center justify-content-center">
			<div class="page-header hidden-xs">
				<button type="button" class="btn btn-success btn-circle btn-xl mb-2"><%= number_of_posts %>
					<br/><p>Posts</p>
				</button>
				<button type="button" class="btn btn-warning btn-circle btn-xl mb-2"><%= number_of_galleries %>
					<br/><p>Galleries</p>
				</button>
				<button type="button" class="btn btn-primary btn-circle btn-xl mb-2"><%= number_of_photographs %>
					<br/><p>Photos</p>
				</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<h2 class="card-header">
					Latest Draft | <small><%= latest_draft_updated_at %></small>
				</h2>
				<div class="card-body">
					<h4><%= latest_draft %></h4>
				</div>
				<div class="card-text p-3">
					<%= latest_draft_link_button %>
				</div>
			</div>
		</div>
	</div>

	<div class="row">

		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					Post Summary
				</h5>
				<div class="card-body">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Total Number</th>
					      <th scope="col"><%= number_of_posts %></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="col">Published</th>
					      <th scope="col"><%= number_of_published_posts %></th>
					    </tr>
					    <tr>
					      <th scope="col">Not Published</th>
					      <th scope="col"><%= number_of_unpublished_posts %></th>
					    </tr>
					    <tr>
					      <th scope="col">Most Recent One</th>
					      <th scope="col"><%= most_recent_post_title %></th>
					    </tr>
							<tr>
								<th scope="col">Creation Date</th>
					      <th scope="col"><%= most_recent_post_date %></th>
							</tr>
					  </tbody>
					</table>
				</div>
				<div class="card-footer">
					<%= link_to("Show Latest", {:controller => 'posts', :action => 'show', :id => latest_post_link_button}, class: "btn btn-success btn-lg pull-right mx-2") %>
					<%= link_to("Edit Latest", {:controller => 'posts', :action => 'edit', :id => latest_post_link_button}, class: "btn btn-warning btn-lg pull-right") %>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					Gallery Summary
				</h5>
				<div class="card-body">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Total Number</th>
					      <th scope="col"><%= number_of_galleries %></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="col">Published</th>
					      <th scope="col"><%= number_of_published_galleries %></th>
					    </tr>
					    <tr>
					      <th scope="col">Not Published</th>
					      <th scope="col"><%= number_of_unpublished_galleries %></th>
					    </tr>
					    <tr>
					      <th scope="col">Most Recent One</th>
					      <th scope="col"><%= most_recent_gallery_title %></th>
					    </tr>
							<tr>
								<th scope="col">Creation Date</th>
					      <th scope="col"><%= most_recent_gallery_date %></th>
							</tr>
					  </tbody>
					</table>
				</div>
				<div class="card-footer">
					<%= link_to("Show Latest", {:controller => 'photo_galleries', :action => 'show', :id => latest_gallery_link_button}, class: "btn btn-success btn-lg pull-right mx-2") %>
					<%= link_to("Edit Latest", {:controller => 'photo_galleries', :action => 'edit', :id => latest_gallery_link_button}, class: "btn btn-warning btn-lg pull-right") %>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card">
				<h5 class="card-header">
					Photo Summary
				</h5>
				<div class="card-body">
					<table class="table table-striped">
					  <thead>
					    <tr>
					      <th scope="col">Total Number</th>
					      <th scope="col"><%= number_of_photographs %></th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					      <th scope="col">Published</th>
					      <th scope="col"><%= number_of_published_photographs %></th>
					    </tr>
					    <tr>
					      <th scope="col">Not Published</th>
					      <th scope="col"><%= number_of_unpublished_photographs %></th>
					    </tr>
					    <tr>
					      <th scope="col">Most Recent One</th>
					      <th scope="col"><%= most_recent_photograph_title %></th>
					    </tr>
							<tr>
								<th scope="col">Creation Date</th>
					      <th scope="col"><%= most_recent_photograph_date %></th>
							</tr>
					  </tbody>
					</table>
				</div>
				<div class="card-footer">
					<%= link_to("Show Latest", {:controller => 'my_photos', :action => 'show', :id => latest_photo_link_button}, class: "btn btn-success btn-lg pull-right mx-2") %>
					<%= link_to("Edit Latest", {:controller => 'my_photos', :action => 'edit', :id => latest_photo_link_button}, class: "btn btn-warning btn-lg pull-right") %>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Close Administration nav -->
</div>
