<div class="container mt-3">

<div class="row justify-content-center p-2 mb-3">
  <div class="col-xs-10 col-md-4 col-lg-3 m-3">
    <div class="card h-100">
      <div class="card-header">
        <h2>Posts</h2>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">So far you have created: <span class="font-weight-bold text-info"><%= @post.size %> Posts</span></li>
        <li class="list-group-item">The latest post: <span class="font-weight-bold text-info"><%= @post.order("created_at ASC").last.Post_Title %></span><br/>
        was created on: <span class="font-weight-bold text-info"><%= @post.order("created_at ASC").last.created_at %> </li>
      </ul>
      <div class="card-body bg-light">
        <%= link_to("Manage Posts", {:controller => 'posts', :action => 'index'}, :class => "btn btn-info btn-lg w-100") %>
      </div>
    </div>
  </div>

<div class="col-xs-10 col-md-4 col-lg-3 m-3">
  <div class="card h-100">
    <div class="card-header">
      <h2>Galleries</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">So far you have created: <span class="font-weight-bold text-info"><%= @gallery.count %> Photo Galleries</span></li>
      <li class="list-group-item">In total there is: <span class="font-weight-bold text-info"><%= @photographs.count %> photographs</span></li>
      <li class="list-group-item">The latest gallery: <span class="font-weight-bold text-info"><%= @gallery.order("created_at ASC").last.gallerytitle %></span><br/>
      was created on: <span class="font-weight-bold text-info"><%= @gallery.order("created_at ASC").last.created_at %></li>
    </ul>
    <div class="card-body bg-light">
      <%= link_to("Manage Galleries", {:controller => 'photo_galleries', :action => 'index'}, :class => "btn btn-info btn-lg w-100") %>
    </div>
  </div>
</div>


<div class="col-xs-10 col-md-4 col-lg-3 m-3">
  <div class="card h-100">
    <div class="card-header">
      <h2>Post Categories</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">So far you have: <span class="font-weight-bold text-info"><%= @categories.count %> Categories</span></li>
      <li class="list-group-item">The latest category: <span class="font-weight-bold text-info"><%= @categories.order("created_at ASC").last.postcategoryname %></span><br/>
      was created on: <span class="font-weight-bold text-info"><%= @categories.order("created_at ASC").last.created_at %></li>
    </ul>
    <div class="card-body bg-light">
      <%= link_to("Manage Categories", {:controller => 'post_categories', :action => 'index'}, :class => "btn btn-info btn-lg w-100") %>
    </div>
  </div>
</div>

<div class="col-xs-10 col-md-4 col-lg-3 m-3">
  <div class="card h-100">
    <div class="card-header">
      <h2>Users</h2>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">So far there is: <span class="font-weight-bold text-info"><%= @user.count %> User(s)</span></li>
      <li class="list-group-item">User: <span class="font-weight-bold text-info"><%= @user.order("created_at ASC").last.Username %></span><br/>
      joined: <span class="font-weight-bold text-info"><%= @user.order("created_at ASC").last.created_at %></li>
    </ul>
    <div class="card-body bg-light">
      <%= link_to("Manage Users", {:controller => 'users', :action => 'index'}, :class => "btn btn-info btn-lg w-100") %>
    </div>
  </div>
</div>


</div>

  <%= link_to("Log Out", {:controller => 'administrators', :action => 'logout'}, :class => "btn btn-danger btn-lg w-100") %>

</div>
