<% title "Posts" %>

<div class="admin-post-panel-container">

  <div class="admin-post-panel-grid-set">
    <div class="page-title-header">
      <h1>Posts <sup><span class="label label-info"><%= @post.size %></span></sup></h1>
    </div>

    <div class="button-section">
      <%= link_to("Back", {:controller => "administrators", :action => 'index'}, :class => "btn btn-warning btn-lg custom") %>
      <%= link_to("Add new Post", {:action => 'new'}, :class => "btn btn-success btn-lg custom") %>

    </div>

    <div class="table-section">
      <div class="table table-hover">
            <table class="table table-bordered mt-3 admin-table">
              <thead>
                <tr>
                  <th class="align-middle text-center table-header-text w-20">Title</th>
                  <th class="align-middle text-center table-header-text w-10">Category</th>
                  <th class="align-middle text-center table-header-text w-10">Author</th>
                  <th class="align-middle text-center table-header-text w-25 hidden-xs">Preview</th>
                  <th class="align-middle text-center table-header-text w-5">Published?</th>
                  <th class="align-middle text-center table-header-text w-10">Created</th>
                  <th class="align-middle text-center table-header-text w-20">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @post.each do |p| %>
                <tr>
                  <td class="align-middle text-center"><%= p.Post_Title %></td>
                  <td class="align-middle text-center"><%= p.post_category.postcategoryname %></td>
                  <td class="align-middle text-center"><%= p.Post_Author %></td>
                  <td class="align-middle text-center hidden-xs"><%= article_preview(p.Post_Body) %></td>
                  <td class="align-middle text-center icon-size"><%= iconStatus(p.Post_Visibility) %></td>
                  <td class="align-middle text-center"><%= local_time(p.created_at, '%d %b, %Y %H:%M') %></td>
                  <td class="align-middle text-center btn-group-vertical d-block">
                    <%= link_to("Show", {:action => 'show', :id => p.id}, :class => "btn btn-success btn-small m-1") %>
                    <%= link_to("Edit", {:controller => 'posts', :action => "edit", :id => p.id}, :class => "btn btn-warning btn-small m-1") %>
                    <%= link_to("Delete", {:controller => 'posts', :action => "delete", :id => p.id}, :class => "btn btn-danger btn-small m-1") %>
                    <%= link_to("Files", {:controller => "post_attachments" , :action => "index", :id => p.id}, :class => "btn btn-info btn-small m-1") %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
      </div>
    </div>

    <div class="pagination-section">
      <div class="col-sm-12 col-md-12 d-flex justify-content-center">
        <%= will_paginate @post, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
      </div>
    </div>

  </div>

</div>


<!-- Close Administration nav -->
</div>
