<% title "Post | " +@post.Post_Title %>

<section class = "articleImageHeader">
  <%= image_tag @post.postHeaderPhoto, :class => "ImageHeader img-responsive"%>
  <div class = "articleImageHeaderText">
    <%= @post.Post_Title %>
    <!--
    <p class="lead"><%= truncate(@post.Post_Body, :length => 60, :omission => "[...]") %></p>
  -->
  </div>
</section>

<div class="container-fluid">

<!-- Display in between two lines author of the article and the date of publishing -->
  <div class="row postData align-items-center ml-4 mr-4">
    <div class = "col-12">
      <p><i class="fa fa-pencil"></i> <%= @post.Post_Author %>  &nbsp;|&nbsp;  <i class="fa fa-calendar"></i> <%= local_time(@post.created_at, '%d %B %Y, %A %H:%M') %></p>
    </div>
  </div>

<!-- Display body of the article, use raw to maintain text formatting from trix editor -->
  <div class = "row justify-content-center">
      <article class = "col-8 col-md-6 blogPost img-responsive">
        <%= raw @post.Post_Body %>
      </article>
  </div>

</div>

<!-- Display files attached to the article -->
<div class = "container">
  <div class ="row justify-content-center">

    <% @post.uploads.each do |upload| %>

          <% if upload.variable? %>
            <div class = "col-md-4 text-center">
              <div class = "card bg-dark text-white border-dark mb-3">
                <div class="card-header">Attachment</div>
                  <%= link_to image_tag(upload.variant(resize: "350x350"), :class => "img-responsive mx-auto"),upload %>
                <div class="card-body">
                  <h4 class = "card-title"><%= upload.filename %></h4>
                </div>
              </div>
            </div>
          <% elsif upload.previewable? %>
          <div class = "col-md-4 text-center">
            <div class = "card bg-dark text-white border-dark mb-3">
              <div class="card-header">Attachment</div>
                <%= link_to image_tag(upload.preview(resize: "350x350"), :class => "img-responsive mx-auto"), upload %>
              <div class="card-body">
                <h4 class = "card-title"><%= upload.filename %></h4>
              </div>
            </div>
          </div>
          <% else %>
          <div class = "col-md-4 text-center">
            <div class = "card bg-dark text-white border-dark mb-3">
              <div class="card-header">Attachment</div>
              <div class="card-body">
                <p style="font-size: 5em; text-align:center;"><i class="fa fa-file"></i></p>
                <h4 class = "card-title"><%= link_to upload.filename, upload, :style => "color:white; text-decoration:none;" %></h4>
              </div>
            </div>
          </div>
          <% end %>
      <% end %>
  </div>
</div>
