<% title "My Posts |" %>

<div class="overall-container">

  <header class="article-showcase">
      <div class="article-header-img">
          <%= image_tag(Post.newest.first.postHeaderPhoto) %>
      </div>
      <div class="article-showcase-data">
        <div class="article-data-box">
          <div class="pill-category" style="background-color: <%= Post.newest.first.post_category.colour %>">NEW / <%= Post.newest.first.post_category.postcategoryname %></div>
          <h4><%= Post.newest.first.Post_Title %></h4>
          <p><%= post_preview(Post.newest.first.Post_Body) %></p>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => Post.newest.first.id}, :class => "article-button" %>
        </div>
      </div>
  </header>


<!-- Articles -->
<section id="post-articles">
    <div class="articles-container">

    <% @post.each_with_index do |p, i| %>
    <% number_of_posts = @post.length %>
    <% array_for_type_1 = Array.new(number_of_posts) { |i| (4*i)+5 } %>
    <% array_for_type_2 = Array.new(number_of_posts) { |i| (4*i)+3 } %>
    <% array_for_type_3 = Array.new(number_of_posts) { |i| (4*i)+4 } %>
    <% array_for_type_4 = Array.new(number_of_posts) { |i| (4*i)+2 } %>

      <% if i == 0 %>
      <!-- TYPE 1 Card -->
      <article class="article-card-1">
          <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
          <div class="card-text-content">
            <div>
              <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
              <h3>
                <%= post_title_short(p.Post_Title) %>
              </h3>
              <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
              <p><%= post_preview(p.Post_Body) %></p>
            </div>
            <div>
              <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
            </div>
          </div>
      </article>

      <% elsif i == 1 %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..4)%>">
        <div>
          <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
          <h3>
            <%= post_title_short(p.Post_Title) %>
          </h3>
          <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
          <p><%= post_preview(p.Post_Body) %></p>
        </div>
        <div>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
        </div>
      </article>


      <% elsif i == 2 %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..4)%>">
        <div>
          <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
          <h3>
            <%= post_title_short(p.Post_Title) %>
          </h3>
          <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
          <p><%= post_preview(p.Post_Body) %></p>
        </div>
        <div>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
        </div>
      </article>


      <% elsif i.in?(array_for_type_1) %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..4)%>">
        <div>
          <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
          <h3>
            <%= post_title_short(p.Post_Title) %>
          </h3>
          <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
          <p><%= post_preview(p.Post_Body) %></p>
        </div>
        <div>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
        </div>
      </article>

      <% elsif i.in?(array_for_type_4) %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..4)%>">
        <div>
          <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
          <h3>
            <%= post_title_short(p.Post_Title) %>
          </h3>
          <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
          <p><%= post_preview(p.Post_Body) %></p>
        </div>
        <div>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
        </div>
      </article>

      <% elsif i.in?(array_for_type_2) %>
      <!-- TYPE 1 reverse Card -->
      <article class="article-card-1-reverse">
        <div class="card-text-content">
          <div>
            <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
            <h3>
              <%= post_title_short(p.Post_Title) %>
            </h3>
            <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
            <p><%= post_preview(p.Post_Body) %></p>
          </div>
          <div>
            <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
          </div>
        </div>
        <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
      </article>

      <% elsif i.in?(array_for_type_3) %>
      <!-- TYPE 1 Card -->
      <article class="article-card-1">
          <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
          <div>
            <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
            <h3>
              <%= post_title_short(p.Post_Title) %>
            </h3>
            <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
            <p><%= post_preview(p.Post_Body) %></p>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
          </div>
      </article>

      <% else %>
      <!-- TYPE 1 Card -->
      <article class="article-card-1">
          <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
          <div>
            <div class="pill-category" style="background-color: <%= p.post_category.colour %>"><%= p.post_category.postcategoryname %></div>
            <h3>
              <%= post_title_short(p.Post_Title) %>
            </h3>
            <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
            <p><%= post_preview(p.Post_Body) %></p>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
          </div>
      </article>

      <% end %>
    <% end %>

  </div>
</section>


<!-- Here is pagination using will_paginate gem -->
<section class="page-pagination">
  <div>
    <%= will_paginate @post, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
  </div>
</section>
