<% title "My Posts |" %>

<div class="overall-container">




  <header class="article-showcase">
    <div class="article-showcase-container">

      <%= image_tag(Post.newest.first.postHeaderPhoto, :class=>"article-header-img") %>

      <div class="article-showcase-data">
        <div class="pill-category photography-category">NEW / <%= Post.newest.first.post_category.postcategoryname %></div>
        <h4><%= Post.newest.first.Post_Title %></h4>
        <p><%= post_preview(Post.newest.first.Post_Body) %></p>
        <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => Post.newest.first.id}, :class => "article-button" %>
      </div>
    </div>

  </header>



<!-- Articles -->
<section id="post-articles">
  <div class="container">
    <div class="articles-container">


    <% @post.each do |p| %>
      <% if p.id%7 == 0 %>
      <!-- TYPE 1 Card -->
      <article class="article-card-1">
          <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
          <div>
            <div class="pill-category photography-category"><%= p.post_category.postcategoryname %></div>
            <h3>
              <%= post_title_short(p.Post_Title) %>
            </h3>
            <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
            <p><%= post_preview(p.Post_Body) %></p>
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
          </div>
      </article>

      <% elsif p.id%4 == 0 %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..2)%>">
        <div>
        <div class="pill-category photography-category"><%= p.post_category.postcategoryname %></div>
        <h3>
          <%= post_title_short(p.Post_Title) %>
        </h3>
        <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
        <p><%= post_preview(p.Post_Body) %></p>
        </div>
      </article>

      <% elsif p.id%5 == 0 %>


      <article class="article-card-2">
        <div>
        <div class="pill-category photography-category"><%= p.post_category.postcategoryname %></div>
        <h3>
          <%= post_title_short(p.Post_Title) %>
        </h3>
        <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
        <p><%= post_preview(p.Post_Body) %></p>
        </div>
        <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
        <div class="article-button-container">
          <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "article-button" %>
        </div>
      </article>


      <% elsif p.id%2 == 0 %>
      <!-- TYPE 2 Card -->
      <article class="article-card-2 article-card-bg-<%=rand(1..2)%>">
        <div>
        <div class="pill-category photography-category"><%= p.post_category.postcategoryname %></div>
        <h3>
          <%= post_title_short(p.Post_Title) %>
        </h3>
        <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
        <p><%= post_preview(p.Post_Body) %></p>
        </div>
      </article>

      <% else %>
      <!-- TYPE 1 reverse Card -->
      <article class="article-card-1">
          <div>
          <div class="pill-category photography-category"><%= p.post_category.postcategoryname %></div>
          <h3>
            <%= post_title_short(p.Post_Title) %>
          </h3>
          <i class="fa fa-calendar i-data"> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %></i>
          <p><%= post_preview(p.Post_Body) %></p>
          </div>
          <div><%= image_tag(p.postHeaderPhoto, :class => "article-card-image") %></div>
          <div>
            <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "btn-lnk btn-block" %>
          </div>
      </article>

      <% end %>

    <% end %>


</section>



    <!-- Here is pagination using will_paginate gem -->
    <section class="page-pagination">
      <div>
        <%= will_paginate @post, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
      </div>
    </section>
