<% title "My Posts |" %>

<section class="flex-container">

  <% @post.each do |p| %>
        <div class="card">
          <div class="datecircle">
            <p>
            <%= p.created_at.day %><br/>
            <%= p.created_at.strftime('%b') %>
            </p>
          </div>
          <div class="img-card">
            <%= image_tag(p.postHeaderPhoto.variant(combine_options: {resize: '350x150^', gravity: 'center', extent: '350x150^'}).processed, :class=>"img-responsive") %>
            <div class="category text-center">
              <%= p.post_category.postcategoryname %>
            </div>
          </div>

          <br/>
          <div class="card-content">
            <h5>
              <%= post_title_short(p.Post_Title) %>
            </h5>
            <p>
              <%= article_preview(p.Post_Body) %>
            </p>
          </div>
          <div class="card-read-more">
              <i class="fa fa-pencil"></i> <%= p.Post_Author %>
              <br/>
              <i class="fa fa-calendar"></i> <%= local_time(p.created_at, '%d %B %Y, %A @ %H:%M') %>
          </div>
            <%= link_to 'Read <i class="glyphicon glyphicon-chevron-right"></i><i class="glyphicon glyphicon-chevron-right"></i>'.html_safe, {:controller => 'posts', :action => 'show', :id => p.slug}, :class => "btn-lnk" %>
        </div>
  <% end %>

</section>


    <!-- Here is pagination using will_paginate gem -->
    <div class="row">
      <div class="col-sm-12 col-md-12 d-flex justify-content-center">
        <%= will_paginate @post, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
      </div>
    </div>
