<% title "Post | " +@post.Post_Title %>

<!-- Displays hero element: image and text -->
<header class="hero">
  <%= image_tag @post.postHeaderPhoto, :class => "articleHeader" %>
  <div class="hero-content">
    <h3><%= @post.Post_Title %></h3>
  </div>
</header>

<!-- Displays details about author and time of publishing above the article body -->
<section class="article-data">
  <div class="article-data-content">
    <div><i class="fas fa-pencil-alt"></i> <%= @post.Post_Author %></div>
    <div><i class="far fa-calendar-alt"></i> <%= local_time(@post.created_at, '%A %d %B, %Y') %></div>
    <div><i class="far fa-clock"></i> <%= local_time(@post.created_at, '%H:%M') %></div>
  </div>
</section>

<!-- Displays body of an article -->
<section class="article-container-flex">
  <article>
    <%= raw @post.Post_Body %>
  </article>
</section>

<!-- Displays files attached to the article -->
<section>
  <div class="attachment-container-flex">
    <% @post.uploads.each do |upload| %>
      <% if upload.variable? %>
        <div class = "attachment-card">
          <h5>Attachment</h5>
          <%= link_to image_tag(upload.variant(resize: "150x150^"), :class => "img-responsive mx-auto"),upload %>
          <div class="attachment-file-name">
            <p><%= upload.filename %></p>
          </div>
        </div>
      <% elsif upload.previewable? %>
        <div class = "attachment-card">
          <h5>Attachment</h5>
          <%= link_to image_tag(upload.preview(resize: "150x150^"), :class => "img-responsive mx-auto"), upload %>
          <div class="attachment-file-name">
            <h4><%= upload.filename %></h4>
          </div>
        </div>
      <% else %>
        <div class = "card bg-dark text-white border-dark mb-3 mojtest">
          <div class="card-header">Attachment</div>
          <div class="card-body">
            <p style="font-size: 5em; text-align:center;"><i class="fa fa-file"></i></p>
            <h4><%= link_to upload.filename, upload, :style => "color:white; text-decoration:none;" %></h4>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>

<!-- Displays the section responsible for comments -->
<section>
  <!-- If currently signed in user display the possibility of adding the comment -->
  <% if !current_user.is_a? GuestUser %>
    <div class="row d-flex justify-content-center">
      <div class="col-10">
        <h5><%= current_user_name %> leave your comment:</h5>
        <%= render 'comments/commentform' %>
      </div>
    </div>
  <% end %>

  <!-- display number of comments for this article -->
    <div class="row d-flex justify-content-center">
      <div class="col-12 text-center mt-3 mb-3">
        <h5>This article has <%= @post.comments.count %> Comments</h5>
      </div>
    </div>

    <!-- Display the comments -->
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <% if @post.comments.count > 0 %>
          <%= render @post.comments %>
        <% end %>
      </div>
    </div>
</section>
