<% title "Artwork Galleries" %>

<div class="admin-artworkgallery-panel-container">

  <div class="admin-gallery-panel-grid-set">
    <div class="page-title-header">
      <h1>Artwork Galleries <sup><span class="label label-info"><%= @artworkgallery.size %></span></sup></h1>
    </div>

    <div class="button-section">
      <%= link_to("Back", {:controller => "administrators", :action => 'index'}, :class => "btn btn-warning btn-lg custom") %>
      <%= link_to("Add new Artwork Gallery", {:action => 'new'}, :class => "btn btn-success btn-lg custom") %>

    </div>

    <div class="table-section">
      <div class="table table-hover">
            <table class="table table-bordered mt-3 admin-table">
              <thead>
                <tr>
                  <th class="align-middle text-center table-header-text w-5">Position</th>
                  <th class="align-middle text-center table-header-text w-25">Title</th>
                  <th class="align-middle text-center table-header-text w-15">Artworks</th>
                  <th class="align-middle text-center table-header-text w-15">Published</th>
                  <th class="align-middle text-center table-header-text w-15">Created</th>
                  <th class="align-middle text-center table-header-text w-25">Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @artworkgallery.each do |art| %>
                <tr>
                  <td class="align-middle text-center"><%= art.artworkGalleryPosition %></td>
                  <td class="align-middle text-center"><%= art.artworkGalleryTitle %></td>
                  <td class="align-middle text-center"><%= art.artworks.count %></td>
                  <td class="align-middle text-center"><%= iconStatus(art.artworkGalleryVisibility) %></td>
                  <td class="align-middle text-center"><%= local_time(art.created_at, '%d %b, %Y %H:%M')  %></td>
                  <td class="align-middle text-center btn-group-vertical d-block" data-turbolinks="false">
                    <%= link_to("Manage Artworks", {:controller => 'artworks', :action => 'index', :id => art.id }, :class => "btn btn-info btn-small m-1") %>
                    <%= link_to("Edit Gallery Details", {:action => 'edit', :id => art.id}, :class => "btn btn-warning btn-small m-1") %>
                    <%= link_to("Preview", {:controller => 'artwork_galleries', :action => 'show', :id => art.id}, :class => "btn btn-success btn-small m-1") %>
                    <%= link_to("Delete", {:action => 'delete', :id => art.id}, :class => "btn btn-danger btn-small m-1") %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
      </div>
    </div>

    <div class="pagination-section">
      <div class="col-sm-12 col-md-12 d-flex justify-content-center">

      </div>
    </div>

  </div>

</div>


<!-- Close Administration nav -->
</div>
