<% title "Galleries" %>

  <div class="container-fluid">
    <br/>
    <h1 class="display-2">Photo Galleries <sup><span class = "badge badge-success"><%= @gallery.size %></span></sup></h1>
    <br/>
    <%= link_to("Back", {:controller => "administrators", :action => 'index'}, :class => "btn btn-warning btn-lg") %>
    <%= link_to("Create new Gallery", {:action => 'new'}, :class => "btn btn-info btn-lg") %>
    <br/>


    <table class="table table-striped table-bordered mt-3">
      <thead>
        <tr>
          <th class="span1 align-middle text-center h5">Gallery Position</th>
          <th class="span2 align-middle text-center h5">Gallery Title</th>
          <th class="span1 align-middle text-center h5">No. photographs</th>
          <th class="span1 align-middle text-center h5">Published ?</th>
          <th class="span1 align-middle text-center h5">Created</th>
          <th class="span3 align-middle text-center h5">Actions</th>
        </tr>
      </thead>
      <tbody>
    <% @gallery.each do |gal| %>
      <tr>
        <td class="span1 align-middle text-center"><%= gal.galleryPosition %></td>
        <td class="span2 align-middle text-center"><%= gal.gallerytitle %></td>
        <td class="span1 align-middle text-center"><%= gal.myPhotos.size %></td>
        <td class="span1 align-middle text-center"><%= gal.galleryVisibility %></td>
        <td class="span1 align-middle text-center"><%= local_time(gal.created_at, '%d %b, %Y %H:%M')  %></td>
        <td class="span3 align-middle text-center btn-group-vertical d-block">
          <%= link_to("Manage Photos", {:controller => 'my_photos', :action => 'index', :id => gal.id}, :class => "btn btn-success btn-small m-1") %>
          <%= link_to("Edit Gallery Details", {:action => 'edit', :id => gal.id}, :class => "btn btn-warning btn-small m-1") %>
          <%= link_to("Preview", {:controller => 'photo_galleries', :action => 'show', :id => gal.id}, :class => "btn btn-success btn-small m-1") %>
          <%= link_to("Delete", {:action => 'delete', :id => gal.id}, :class => "btn btn-danger btn-small m-1") %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>

<!-- Close Administration nav -->
</div>
