<% title "Galleries" %>

<div id="page-content-wrapper">
  <div class="conatiner-fluid">
    <div class="row">
        <div class="col col-md-6 mb-5">
          <h1 class="display-3">Galleries | <span class="label label-info"><%= @gallery.size %></span></h1>
        </div>
    </div>
    <div class="row">
      <div class="col col-sm-3 col-md-4 col-lg-2 mb-2">
        <button class="btn btn-primary btn-lg btn-block" id="menu-toggle">
          Toggle Menu
        </button>
      </div>
      <div class="col2 col-sm-3 col-md-4 col-lg-2 mb-2">
        <%= link_to("Back", {:controller => "administrators", :action => 'index'}, :class => "btn btn-warning btn-lg btn-block") %>
      </div>
      <div class="col col-sm-3 col-md-4 col-lg-2 mb-2">
        <%= link_to("Add new Gallery", {:action => 'new'}, :class => "btn btn-success btn-lg btn-block") %>
      </div>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped mt-3 admin-table">
          <thead>
            <tr>
              <th class="align-middle text-center table-header-text w-5">Position</th>
              <th class="align-middle text-center table-header-text w-25">Title</th>
              <th class="align-middle text-center table-header-text w-15">Photographs</th>
              <th class="align-middle text-center table-header-text w-15">Published</th>
              <th class="align-middle text-center table-header-text w-15">Created</th>
              <th class="align-middle text-center table-header-text w-25">Actions</th>
            </tr>
          </thead>
          <tbody>
        <% sort_gallery_by_gallery_position(@gallery).each do |gal| %>
          <tr>
            <td class="span1 align-middle text-center"><%= gal.galleryPosition %></td>
            <td class="span2 align-middle text-center"><%= gal.gallerytitle %></td>
            <td class="span1 align-middle text-center"><%= gal.myPhotos.size %></td>
            <td class="span1 align-middle text-center"><%= iconStatus(gal.galleryVisibility) %></td>
            <td class="span1 align-middle text-center"><%= local_time(gal.created_at, '%d %b, %Y %H:%M')  %></td>
            <td class="span3 align-middle text-center btn-group-vertical d-block" data-turbolinks="false">
              <%= link_to("Manage Photos", {:controller => 'my_photos', :action => 'index', :id => gal.id}, :class => "btn btn-info btn-small m-1") %>
              <%= link_to("Edit Gallery Details", {:action => 'edit', :id => gal.id}, :class => "btn btn-warning btn-small m-1") %>
              <%= link_to("Preview", {:controller => 'photo_galleries', :action => 'show', :id => gal.id}, :class => "btn btn-success btn-small m-1") %>
              <%= link_to("Delete", {:action => 'delete', :id => gal.id}, :class => "btn btn-danger btn-small m-1") %>
            </td>
          </tr>
        <% end %>
        </tbody>
        </table>
    </div>
  </div>
</div>

<!-- Close Administration nav -->
</div>
<div class="row" style="height: 0vh">
  <!-- Line Spacer to keep footer stick to the bottom -->
</div>
