<% title "Gallery | "+@gallery.gallerytitle %>

  <div class="page-wrapper">

    <section class="galleryHeaderInformation">

      <div class="galleryHeaderInformation-gridSetUp">
        <div class="galleryHeader-Title">
          <h2><%= @gallery.gallerytitle %></h2>
        </div>

        <div class="galleryHeader-Quote">
          <div class="quote--container">
            <p class="quote">
              <%= @gallery.galleryQuoteText %>
            </p>
            <p class="quote--author">&ndash; <%= @gallery.galleryQuoteAuthor %></p>
          </div>
        </div>

        <div class="galleryHeader-Weather">

          <div>
            <%= image_tag ('https:' + @weather_results['current']['condition']['icon']) %>
          </div>

          <div>
            <p class="weatherParagraph">Temperature:
              <%= @weather_results['current']['temp_c'] %>&#176;C</p>
          </div>

          <div>
            <p class="weatherParagraph">Feels like:
              <%= @weather_results['current']['feelslike_c'] %>&#176;C</p>
          </div>

          <div>
            <p class="weatherParagraph">Humidity:
              <%= @weather_results['current']['humidity'] %>%</p>
          </div>

          <div>
            <p class="weatherParagraph">Wind:
              <%= @weather_results['current']['wind_kph'] %>kph</p>
          </div>

          <div>
            <p class="weatherParagraph">Local Time:
              <%= @weather_results['location']['localtime'] %></p>
          </div>

          <div>
            <p class="weatherParagraph">Last Updated:
              <%= @weather_results['current']['last_updated'] %></p>
          </div>

        </div>

        <div class="galleryHeader-Description">
          <p><%= @gallery.galleryDescription %></p>
        </div>

      </div>

    </section>

    <section class="photo-gallery-content-layout">
      <% sort_gallery_by_photo_position(@gallery.myPhotos.published).each do |photo| %>
      <div class="overlay-container" data-overlay-text="<%= photo.myPhotoTitle %>">
        <%= link_to image_tag(photo.myPhotograph, :class => "image-inside overlay-img"), photo.myPhotograph, data: {lightbox: 'roadtrip', title: photo.myPhotoTitle+photo.myPhotoDescription}%>
      </div>
      <% end %>
    </section>


  </div>

  <script>
    lightbox.option({'resizeDuration': 200, 'wrapAround': true, 'fitImagesInViewport': true})
  </script>
