<% title "My Posts |" %>

<div class="container mt-5 pt-5 w-100">

  <div class="row">
    <% @post.each do |p| %>
        <div class="col-md-6">
          <!-- Post-->
          <div class="post-module mb-5">
            <!-- Thumbnail-->
            <div class="thumbnail">
              <div class="date">
                <div class="day"><%= p.created_at.day %></div>
                <div class="month"><%= p.created_at.strftime('%B') %></div>
              </div>
              <%= image_tag(p.postHeaderPhoto) %>

            </div>
            <!-- Post Content-->
            <div class="post-content">
              <div class="category"><%= p.post_category.postcategoryname %></div>
              <h1 class="title"><%= p.Post_Title %></h1>
              <h2 class="sub_title"><%= first_sentence(p.Post_Body) %></h2>
              <p class="description"><%= article_preview(p.Post_Body) %></p>
              <div class="post-meta"><span class="timestamp"><i class="fa fa-calendar"></i> <%= local_time(p.created_at, '%A %d %B, %Y %H:%M') %></span><span class="comments"><i class="fa fa-pencil"></i> <%= p.Post_Author %></span></div>
              <%= link_to("Read...", {:controller => 'public', :action => 'articleView', :id => p.id}, :class => "btn btn-success btn-lg pull-right") %>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <!-- Here is pagination using will_paginate gem -->
  <div class="row">
    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
      <%= will_paginate @post, renderer: BootstrapPagination::Rails, :class => "font-weight-bold" %>
    </div>
  </div>

</div>
