<% title "Welcome |" %>

<!--
This styling is for full screen slider, to remove any scrollbars from the browser window, it is  placed here because this styles should only be
applied to thie particular site
-->

<style>
  html,
  body,
  .carousel,
  .carousel-inner,
  .carousel-inner .item {
    height: 100%;
    overflow-y: hidden;
  }
</style>


    <div id="carouselHacked" class="carousel slide carousel-fade" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox" data-turbolinks="false">
            <div class="item active">
              <div class="carousel-caption">
                <h1 class="slideimagetitle">About this project</h1>
                <h3 class="slideimagedesc">A little bit of information about this project...</h3>
                <!-- Button trigger modal -->
                <%= link_to 'Read more...', {:controller => 'posts', :action => 'show', :id => find_about_post}, :class => "btn btn-primary btn-lg" %>
              </div>
            </div>

            <div class="item">
              <div class="carousel-caption">
                <h1 class="slideimagetitle"><%= @latestpost.last.Post_Title %></h1> &nbsp;&nbsp;<h2><span class="badge badge-pill badge-danger">New</span></h2>
                <h3 class="slideimagedesc"><%= first_sentence(@latestpost.last.Post_Body) %></h3>
                <%= link_to 'Read more...', {:controller => 'posts', :action => 'show', :id => @latestpost.last}, :class => "btn btn-primary btn-lg" %>
              </div>
            </div>

            <div class="item">
              <%= image_tag(MyPhoto.get_latest_photo_uploaded_and_published.myPhotograph, class: "carousel-image") %>
              <div class="carousel-caption">
                <h1 class="slideimagetitle"><%= MyPhoto.get_latest_photo_uploaded_and_published.myPhotoTitle %></h1> &nbsp;&nbsp;<h2><span class="badge badge-pill badge-danger">New Photo</span></h2>
                <h3 class="slideimagedesc"><%= MyPhoto.get_latest_photo_uploaded_and_published.photo_gallery.gallerytitle %></h3>
                <%= link_to 'View', {:controller => 'photo_galleries', :action => 'show', :id => MyPhoto.get_latest_photo_uploaded_and_published.photo_gallery_id}, :class => "btn btn-primary btn-lg" %>
              </div>
            </div>

            <div class="item">
              <%= image_tag(@latestgallery.last.galleryImageHeader, class: "carousel-image") %>
              <div class="carousel-caption">
                <h1 style="slideimagetitle"><%= @latestgallery.last.gallerytitle %></h1>&nbsp;&nbsp;<h2><span class="badge badge-pill badge-danger">New</h2>
                <h3 class="slideimagedesc">
                  <%= first_sentence(@latestgallery.last.galleryDescription) %>
                </h3>
                <%= link_to 'View', {:controller => 'photo_galleries', :action => 'show', :id => @latestgallery.last}, :class => "btn btn-primary btn-lg" %>
              </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carouselHacked" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carouselHacked" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
