<!DOCTYPE html>
<html>
  <head>
    <title>MyWebSite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato|Merriweather" rel="stylesheet">

  </head>

  <body>

    
    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>

</html>
