<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : 'Welcome to my Website' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark myNavbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <%= link_to(image_tag("logos/MenuLogo.png", :style => "max-width:200px; margin-top:10px;"), {:controller => 'posts', :action => 'index'}, :class => "navbar-brand") %>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="<%= 'nav-item active' if params[:controller] == 'public' && params[:action] == 'index' %>"><%= link_to("Home", {:controller => 'public', :action => 'index'},:class => "nav-link") %></li>
            <li class="<%= 'nav-item active' if params[:controller] == 'public' && params[:action] == 'articles' %>"><%= link_to("Posts", {:controller => 'public', :action => 'articles'},:class => "nav-link") %></li>
            <li class="<%= 'nav-item active' if params[:controller] == 'public' && params[:action] == 'galleries' %>"><%= link_to("Galleries", {:controller => 'public', :action => 'galleriesIndex'},:class => "nav-link") %></li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Other Projects
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Graphic Design</a>
                <a class="dropdown-item" href="#">Motion Design</a>
                <a class="dropdown-item" href="#">Coming Soon...</a>
              </div>
            </li>
            <li class="<%= 'nav-item active' if params[:controller] == 'static_pages' && params[:action] == 'about' %>"><%= link_to("About", {:controller => 'static_pages', :action => 'about'},:class => "nav-link") %></li>
            <li class="<%= 'nav-item active' if params[:controller] == 'administrators' %>"><%= link_to("Admin", {:controller => 'administrators', :action => 'login'},:class => "nav-link") %></li>
          </ul>
        </div>
    </nav>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> display-4 mt-3 mb-3 text-dark" style="text-align: center;"><%= value %></div>
      <% end %>

      <%= yield %>

      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
  </body>
</html>
